.contextual-dropdown{
    position: absolute;
    top: 25%;
    right:-25%;
}
.contextual-dropdown__row{
    background-color:white;
    width: 50%;
    border-radius: 5px;
    
}
.contextual-dropdown__row>svg{
    width: 10%;
    height: 10%;
    margin-right: 5px;
}   

.contextual-dropdown__row:hover{
background-color: rgba(255, 0, 0, 0.424);
cursor: pointer;
}